body{
	padding:0px;
	margin:0px;
}
canvas{
	background:white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:100vw;
	height:50vw;
  overflow: hidden;
}
#overlay{
	background:rgba(0,0,0,0.7);
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:70vmin;
	height:70vmin;

	padding:1vmin;
	margin:0px;
	color: white;
	border-radius:2vmin;

	font-size:3.3vmin;
}

a{
	color:white;
}
